@import '../base/variables';
@import '../base/fuentes';
@import '../base/media';

.menu{
    padding: 10px;
    /* position: sticky;
    top: 0;   */
}

.links{
    font-family: 'montserrat';
    font-size: 15px;
    letter-spacing: 2px;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;  
}

.subList{
    line-height: 1.6;
    text-align: center;
    &:hover{
        background-color: hsla(0, 38%, 82%, 0.5);
    }
}

.listStyle{
    a{
        text-decoration: none;
        color:black;
    }
}

.listStyle{
    .links{
        .subList{
            position: absolute;
            display: none;
            li{
                display: block;
                padding: 0.5rem 0 0;
                &:hover{
                    display: block;
                }
            }
        }
    }
}

.listStyle{
    .subList{
        display: inline-block;
        position: relative;    
    }
}




