@font-face{
    /* Elijo mi fuente descargada */
    font-family: 'montserrat';
    /* Ruta */
    src:url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap') format ('woff');
}

@font-face{
    /* Elijo mi fuente descargada */
    font-family: 'Padauk';
    /* Ruta */
    src:url('https://fonts.googleapis.com/css2?family=Padauk&display=swap') format ('woff');
}